.uploader {
    width: 100%;
    height: 120px;
    text-align: center;
    gap: 18px;
    border-radius: 12px;
    margin: 0 auto;
    background:white;
    --progress-height: 8px;
    --progress-fill-color: #007bff;
    --progress-background: #e9ecef;
    --progress-border-radius: 4px;
}

.uploader[dragover] {
    border-color: #007bff;
    background-color: #007bff;
}
